spring:
  data:
    mongodb:
      host: <your-mongo-host>
      port: <your-mongo-port>
      database: <your-mongo-database>
      username: <your-mongo-username>
      password: <your-mongo-password>
      authentication-database: <your-mongo-authentication-database>
  mail:
    username: <your-smtp-username>
    password: "<your-smtp-password>"
